<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apeperia</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/highlights.css">
    <link rel="stylesheet" href="../styles/uniques.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/plans.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body> 
    <header>
        <section class="header_top">
            <img class="header_img" src="../assets/img/logo-apeperia.svg" alt="logo-apeperia">
            <nav class="header_nav">
                <ul class="list_1">
                    <li class="header_link"><a href="#">Sobre</a></li>
                    <li class="header_link"><a href="#">Planos</a></li>
                    <li class="header_link"><a href="#">Blog</a></li>
                    <li class="header_link"><a href="#">Destaques</a></li>
                    <li class="header_link"><a href="#">Institucional</a></li>
                    <li class="header_link"><a href="#">Contrato</a></li>
                </ul>
            </nav>
        </section>
        <div class="presentation">
            <p class="pres_intro"><strong>aplicativos na medida</strong></p>
            <p class="presentation_1">apeperia tem um jeito inovador de comparar e montar aplicativos para pequenas e médias empresas</p>
        </div> 
        <div class="button_div">
            <button class="button_plan">Conheça os planos</button>
        </div>
    </header>
    <main>
        <section>
            <div class="container_highlights">
                <div class="highlight_1">
                    <h1>DESTAQUES</h1>
                </div>
                <div class="container_know">
                    <img class="learn_img" src="../assets/img/comecando-criar-logotipo.png" alt="">
                    <p class="learn_text">Conheça as primeiras etapas para a criação de um logotipo</p>
                </div>
                <div class="container_useful">
                    <img class="photograph" src="../assets/img/dicas-fotografia.png" alt="">
                    <p class="photograph_text">Veja dicas de como fotografar usando seu celular</p>
                </div>
                <div class="button_receive">
                    <button class="receive_button">Receber destaques por email</button>
                </div>
            </div>
        </section>
        <section class="container uniques">
            <div class="container_time">
                <h2 class="time_title"><img class="time_img" src="../assets/img/icone-relogio.png" alt="">tempo</h2>
                <p class="time_text">Tempo é importante! Trabalhamos em ritmo acelerado, atendendo rigorosamente aos prazos.</p>
            </div>
            <div class="container_focus">
                <h2 class="money_title"><img class="money_img" src="../assets/img/icone-dinheiro.png" alt="">foco</h2>
                <p class="money_text">Focamos no empreendimento! Oferecemos serviços de qualidade com preços acessíveis.</p>
            </div>
            <div class="container_specialist">
                <h2 class="chem_title"><img class="chem_img" src="../assets/img/icone-quimica.png" alt="">especialistas</h2>
                <p class="chem_text">Equipe experiente e especializada! Testasmos todos os produtos antes do lançamento</p>
            </div>
        </section>
        <section class="about_container">
            <div class="about">
                <h1 class="title_about">sobre</h1>
                <p class="about_upper_text">Criamos aplicativos personalizados para <strong>todas as pessoas</strong></p>
                <p class="about_middle_text">A manutenção de um aplicativo não pode ser um custo extra para o cliente. Na Apeperia você assina nosso serviço e a manutenção já está inclusa. Assim, você não se preocupa com a manutenção, é tudo por nossa conta.</p>
                <p class="about_lower_text">Conte com uma equipe especializada e exclusiva para projetos incríveis em qualquer plataforma</p>
                <ul class="imgs_list">
                    <li><a href="#"><img src="../assets/img/android.png" alt=""></a></li>
                    <li><a href="#"><img src="../assets/img/blackberry.png" alt=""></a></li>
                    <li><a href="#"><img src="../assets/img/apple.png" alt=""></a></li>
                    <li><a href="#"><img src="../assets/img/windowsphone.png" alt=""></a></li>
                </ul>     
                <p class="about_bottom_text">Desenvolvemos aplicativos para todas as plataformas. </p>
            </div>
                <img class="hidden_img" src="../assets/img/sobre-apeperia.png" alt="">
        </section>
        <section class="plans_container">
            <div class="">
                <h1 class="plan_title">planos</h1>
            </div>
            <div class="plan_start">
                <h1 class="start_title">start</h1>
                <hr class="inner_line">
                <h2 class="start_value">R$ 500</h2>
                <p class="start_text_upper">5 manutenções mensais</p>
                <p class="start_text_middle">App SEO</p>
                <p class="start_text_bottom">1 sistema operacional</p>
                <button class="plan_start_button">Assinar plano</button>
            </div>
            <div class="plan_ultra">
                <h1 class="ultra_title">ultra</h1>
                <hr class="inner_line">
                <h2 class="ultra_value">R$ 1500</h2>
                <p class="ultra_text_upper">20 manutenções mensais</p>
                <p class="ultra_text_middle">App SEO</p>
                <p class="ultra_text_bottom">4 sistemas operacionais</p>
                <p class="ultra_text_lower">24h de atendimento</p>
                <button class="plan_ultra_button">Assinar Plano</button>
            </div>
            <div class="plan_mega">
                <h1 class="mega_title">mega</h1>
                <hr class="inner_line">
                <h2 class="mega_value">R$ 1000</h2>
                <p class="mega_text_upper">10 manutenções mensais</p>
                <p class="mega_text_middle">App SEO</p>
                <p class="mega_text_bottom">2 sistemas operacionais</p>
                <button class="plan_mega_button">Assinar plano</button>
            </div>
        </section>
        <section>
            <div class="contact_upper">
                <h1 class="contact">contato</h1>
                <p class="contact_text">Entre em contato com a gente</p>
                <button class="contact_button">Entre em contato</button>
                <h1 class="institutional">institucional</h1>
            </div>
            <div class="contact_lower">
                    <div>
                        <p class="contact_about">Um pouco mais sobre a apeperia</p>
                        <p class="contact_adress">Rua Vergueiro, 3185, Vila Mariana, São Paulo.</p>
                        <p class="contact_info">(11) 5571-2751 ou <a href="mailto:contato@apeperia.com">contato@apeperia.com</a></p>
                    </div>
                <video controls>
                    <source src="../assets/img/formacao-java.mp4">
                </video>
            </div>
        </section>
    </main>
    <footer>
        <img src="../assets/img/logo-apeperia.svg" alt="">
        <ul class="list_2">
            <li><a class="socials" href="#"><img src="../assets/img/facebook.png" alt=""></a></li>
            <li><a class="socials" href="#"><img src="../assets/img/twitter.png" alt=""></a></li>
            <li><a class="socials" href="#"><img src="../assets/img/instagram.png" alt=""></a></li>
        </ul>
        <nav>
            <ul class="list_3">
                <li class="footer_link"><a href="#">Sobre</a></li>
                <li class="footer_link"><a href="#">Planos</a></li>
                <li class="footer_link"><a href="#">Blog</a></li>
                <li class="footer_link"><a href="#">Destaques</a></li>
                <li class="footer_link"><a href="#">Institucional</a></li>
                <li class="footer_link"><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
