<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apeperia</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/highlights.css">
</head>
<body> 
    <header>
        <img class="header_img" src="../assets/img/logo-apeperia.svg" alt="logo-apeperia">
        <nav class="header_nav">
            <ul class="list_1">
                <li class="header_link"><a href="#">Sobre</a></li>
                <li class="header_link"><a href="#">Planos</a></li>
                <li class="header_link"><a href="#">Blog</a></li>
                <li class="header_link"><a href="#">Destaques</a></li>   
                <li class="header_link"><a href="#">Institucional</a></li>
                <li class="header_link"><a href="#">Contrato</a></li>
            </ul>
        </nav>    
        <div class="presentation">
            <p class="pres_intro"><strong>aplicativos na medida</strong></p>
            <p class="presentation_1">apeperia tem um jeito inovador de comparar e montar aplicativos para pequenas e médias empresas</p>
        </div> 
        <div class="button_div">
            <button class="button_plan">Conheça os planos</button>
        </div>
    </header>
    <main>
        <div class="container_highlights">
            <div class="highlight_1">
                <h1>DESTAQUES</h1>
            </div>
            <div class="container_know">
                <img class="learn_img" src="../assets/img/comecando-criar-logotipo.png" alt="">
                <p class="learn_text">Conheça as primeiras etapas para a criação de um logotipo</p>
            </div>
            <div class="container_useful">
                <img class="photograph" src="../assets/img/dicas-fotografia.png" alt="">
                <p class="photograph_text">Veja dicas de como fotografar usando seu celular</p>
            </div>
            <div class="button_receive">
                <button class="receive_button">Receber destaques por email</button>
            </div>
        </div>
    </main>
</body>
</html>
